.galleryItemSmallContainer {
  display: flex;
  height: 49.8%;
  width: 49.7%;
  border: 1px solid rgb(83, 83, 83);
  overflow: hidden;
}

.galleryItemSmall {
  display: flex;
  height: 101%;
  width: 101%;
  transition: transform .5s;
}

.galleryItemSmall:hover {
  transform: scale(1.05)
}