.gallery {
  display: flex;
  height: 478.66666666666663px;
  flex-flow: row;
  width: 100%;
}

.largeContainer {
  display: flex;
  height: 478.66666666666663px;
  width: 50%;
}

.smallContainer {
  display: flex;
  height: 478.66666666666663px;
  width: 50%;
  flex-flow: row wrap;
  position: relative;
}

.viewPhotos {
  position: absolute;
  top: 92%;
  left: 85%;
}